<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>

<body>
    <h1>Active</h1>
    <h3>%data%</h3>
    <main>
        <table>
            <tr>
                <th>Text</th>
                <th>Time</th>
                <th>Color</th>
            </tr>
            %tableData%
        </table>
    </main>
    <a href="/submit" target="_self" rel="noopener noreferrer">new data</a>
</body>

</html>